name: GitHub CI
on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches:
      - main
jobs:
  linux_asan_debug:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: bash tools/gha_linux_asan_debug.sh
  osx_11_debug:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: bash tools/gha_osx_debug.sh
  windows_2019_release:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v3
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: kep3_devel
          environment-file: kep3_devel.yml
          auto-update-conda: true
          channels: conda-forge
          channel-priority: strict
          auto-activate-base: false
      - name: Build
        shell: pwsh
        run: |
          mkdir build
          cd build
          cmake ../ -G "Visual Studio 16 2019" -A x64 -DCMAKE_INSTALL_PREFIX=C:\Miniconda\envs\kep3_devel\Library -Dkep3_BUILD_TESTS=yes -DBoost_NO_BOOST_CMAKE=ON
          cmake --build . -j4 --config Release --target install
          ctest -j4 -V -C Release --output-on-failure
  linux_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: bash tools/gha_linux_coverage.sh
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: coverage.info
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}